# Enable pre and post script support.
# See: https://komodo-crew.slack.com/archives/C024FFMBRB5/p1720648673473399
enable-pre-post-scripts=true

# Collaborate with `save-workspace-protocol` to cause workspace dependencies to use `workspace:*` version.
# See: https://pnpm.io/npmrc#save-prefix
# See: https://pnpm.io/workspaces#workspace-protocol-workspace
save-prefix=''

# See: https://pnpm.io/npmrc#save-workspace-protocol
save-workspace-protocol='rolling'
